<section>
  <div class="dash container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        {{#if loggedIn}}
        <table class="table table-striped m-0">
          {{#if password}}
           <thead>
            <tr>
              <th class="head text-white bg-danger col-2" id="main" scope="col">Website</th>
              <th class="text-white bg-danger col-3" id="main" scope="col">Username</th>
              <th class="text-white bg-danger col-3" id="main" scope="col">Password</th>
              <th class="text-white bg-danger col-1" id="main" scope="col">Update</th>
              <th class="head-2 text-white bg-danger col-1" id="main"scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {{#each password}}
            <tr class="info">
              <td class="web"><a id="web" href="{{this.title}}">{{this.title}}</a></td>
              <td class="name">{{this.username}}</td>
              <td class="password" type="password">●●●●●●●●<button class="btn btn-danger ms-3" id="Copy">Copy</button></td>
              <td class="bt1"><button class="btn btn-danger ms-3" id="Update">Update</button></td>
              <td class="delete"><button class="btn btn-danger ms-3" id="Delete">Delete</button></td>
            </tr>
            {{!-- This is just extra table content to test appearance --}}
            {{!-- <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr>
            <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr> --}}
        {{/each}}
        </tbody>
        </table>
        <a class="passwordBtn btn btn-danger margin-auto" href="dashboard/new">Add Password</a>
        {{else}}
        <p>Your dashboard is empty. Click the button below to add a password.</p>
        <a class="btn btn-danger text-align-center" href="dashboard/new">Add Password</a>
        {{/if}}
        {{else}}
        <a href="/login">You must login first to view saved passwords.</a>
        {{/if}}
      </div>
    </div>
  </div>


<script src="/js/dashboard.js"></script>