<section>
  <div class="dash container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        {{#if loggedIn}}
        <table class="table table-striped m-0 border table-hover">
          {{#if password}}
           <thead class="thead-dark">
            <tr>
              <th class="head text-white bg-danger col-2" id="main" scope="col">Website</th>
              <th class="text-white bg-danger col-3" id="main" scope="col">Username</th>
              <th class="text-white bg-danger col-3" id="main" scope="col">Password</th>
              <th class="text-white bg-danger col-1" id="main" scope="col">Update</th>
              <th class="head-2 text-white bg-danger col-1" id="main"scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          {{#each password}}
            <tr class="buttonList">
              <td class="web">{{this.title}}</td>
              <td class="name">{{this.username}}</td>
              <td class="password" type="password" href="/passwords/{{password.id}}">●●●●●●●●<button class="btn btn-danger ms-3 Copy">Copy</button></td>
              <td class="updateB"><button class="btn btn-danger ms-3 update">Update</button></td>
              <td class="deleteB"><button data-id="{{this.id}}" class="btn btn-danger ms-3 delete">Delete</button></td>
            </tr>
            {{!-- This is just extra table content to test appearance --}}
            {{!-- <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr>
            <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr> --}}
        {{/each}}
        </tbody>
        </table>
        <a class="passwordBtn btn btn-danger margin-auto" href="dashboard/new">Add Password</a>
        {{else}}
        <p>Your dashboard is empty. Click the button below to add a password.</p>
        <a class="btn btn-danger text-align-center" href="dashboard/new">Add Password</a>
        {{/if}}
        {{else}}
        <a href="/login">You must login first to view saved passwords.</a>
        {{/if}}
      </div>
    </div>
  </div>


<script src="/js/dashboard.js"></script>